[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
crayons = "*"
pyfxa = "*"
fxacli = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
flake8-isort = "*"
